body{
background:#f2f2f2;
}
.bg-white{
	background:#fff;
}
.header {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.m-0{
	margin:0;
}
.left-side{
	    border-right: 1px solid #ccc; 
}
.nav-item {
border-bottom: 1px solid #ccc;	
}

.nav-item .nav-link{
	color:#333;
}
.right-para{
	padding:10px 0;
}
.right-para h2{
	font-size: 20px;
}
